* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar_container {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 250px;
	background-color: hsl(237, 100%, 7%);
	padding: 8px;
	transition: width 0.3s ease-out;
}

.sidebar_container.active {
	width: 90px;
}

.sidebar_top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px 16px 8px 16px;
	color: #fff;
	font-size: x-large;
	min-height: 62px;
}

.sidebar_container.active .sidebar_top {
	display: flex;
	align-items: center;
	padding: 25px 16px 8px 16px;
	color: #fff;
	font-size: x-large;
}

.sidebar_top i {
	position: absolute;
	left: 200px;
	top: 39px;
	cursor: pointer;
	color: white;
	transition: left 0.3s ease-out;
}

.sidebar_li_container {
	padding: 0 0rem;
}

.sidebar_container ul li {
	position: relative;
	list-style-type: none;
	height: 50px;
	line-height: 50px;
	margin-top: 8px;
}

.sidebar_container ul li a {
	color: white;
	display: flex;
	align-items: center;
	text-decoration: none;
	border-radius: 10px;
}

.sidebar_container ul li a:hover {
	background-color: #fff;
	color: #12171e;
}

.sidebar_container ul li a i {
	min-width: 50px;
	text-align: center;
	height: 50px;
	border-radius: 12px;
	line-height: 50px;
	margin-left: 12px;
}

.sidebar_bottom {
	position: absolute;
	bottom: 0;
	width: 242px;
	display: flex;
	align-items: center;
	padding: 12px 12px 20px 12px;
	color: white;
}

.sidebar_bottom_user {
	text-decoration: none;
	color: white;
}

.user_img {
	display: flex;
	width: 50px;
	border-radius: 100%;
	border: 2px solid #eee;
}

.sidebar_bottom .user_name {
	font-weight: 300;
	font-size: large;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.sidebar_bottom .sidebar_bottom_text {
	padding: 0 0.8rem;
	overflow: hidden;
	visibility: visible;
	max-height: 38px;
}

.sidebar_bottom .sidebar_logout_container {
	display: flex;
	color: white;
	text-decoration: none;
	font-size: small;
}

.sidebar_bottom .sidebar_logout_container i {
 	align-self: center;
	padding: 0 0.2rem;
}

.sidebar_container.active .sidebar_top p {
	opacity: 0;
	visibility: hidden;
	transition:visibility 0.045s linear,opacity 0.045s linear;
}

.sidebar_top p {
	transition:visibility 0.045s ease-out,opacity 0.045s ease-out 0.18s;
}

.sidebar_container.active .sidebar_top i {
	left: 33px;
	transition: left 0.3s ease-out;
}

.sidebar_container.active ul li span {
	opacity: 0;
	visibility: hidden;
	transition:visibility 0.045s linear 0.15s, opacity 0.045s linear;
	/*https://stackoverflow.com/questions/27900053/css-transition-with-visibility-not-working*/
}

.sidebar_container ul li span {
	opacity: 1;
	visibility: visible;
	transition:visibility 0.045s linear, opacity 0.045s ease-out 0.18s;
	/*https://stackoverflow.com/questions/27900053/css-transition-with-visibility-not-working*/
}

.sidebar_container.active .sidebar_bottom {
	width: 74px;
	transition: width 0.3s linear 0.3s;
}

.sidebar_container.active .sidebar_bottom_text {
	opacity: 0;
	visibility: hidden;
	display: block;
	transition: visibility 0.045s linear 0.3s,opacity 0.045s linear;
}

.sidebar_container.active .sidebar_bottom p {
	opacity: 0;
	visibility: hidden;
	transition:visibility 0.045s linear,opacity 0.045s linear;
}

.sidebar_container.active .sidebar_bottom i {
	opacity: 0;
	visibility: hidden;
	transition:visibility 0.045s linear,opacity 0.045s linear;
}

.sidebar_container .sidebar_bottom p {
	transition:visibility 0.045s linear,opacity 0.045s linear 0.05s;
}

.sidebar_container .sidebar_bottom i {
	transition:visibility 0.045s linear,opacity 0.045s linear 0.05s;
}

.main-content.active{
	position: absolute;
	left: 90px;
	width: calc(100% - 250px);
}

.main-content{
	position: absolute;
	left: 250px;
	width: calc(100% - 250px);
	transition: width 0.5s;
	z-index: 10;
}

